{% extends 'app/base.html' %}

{% block content %} 
    <article>
        <div class="d-flex justify-content-between">
            <div class="ms-4"></div>
            <h2 class="text-center pt-4">Login</h2>
            <a href="{% url 'signup' %}" class="btn btn-primary my-3 me-2">Registrati</a>
        </div>
        <form class="my-5 d-flex flex-column p-5 bg-light fContainer" method="POST">{% csrf_token %} 
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
            <label for="psw">Password</label>
            <input type="password" id="psw" name="psw">
            <button class="btn btn-primary align-self-end my-2" type="submit">Invia</button>
        </form>
    </article>
{% endblock %}